<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axle.mapper.QuestionLibCustomMapper">

    <select id="queryQuestionLibList" parameterType="map" resultType="com.axle.vo.QuestionLibVO">
        select q.id as questionId,
               q.question as question,
               q.reference_answer as referenceAnswer,
               q.ai_src as aiSrc,
               q.interviewer_id as interviewerId,
               q.is_on as isOn,
               i.ai_name as interviewerName,
               q.create_time as createTime,
               q.updated_time as updatedTime
        from question_lib q
        left join  interviewer i on q.interviewer_id = i.id
        where 1 = 1
        <if test="ParamMap.aiName != null and ParamMap.aiName != ''">
            and i.ai_name like concat('%',#{ParamMap.aiName},'%')
        </if>
        <if test="ParamMap.question != null and ParamMap.question != ''">
            and q.question like concat('%',#{ParamMap.question},'%')
        </if>
    </select>

    <select id="queryRandomQuestion" parameterType="map" resultType="com.axle.vo.InitQuestionLibVO">
        SELECT *
        FROM question_lib WHERE is_on = 1 LIMIT #{ParamMap.randomIndex}, 1
    </select>

</mapper>
